[submodule "admin/zencode/zenflows-crypto"]
	path = admin/zencode/zenflows-crypto
	url = https://github.com/interfacerproject/zenflows-crypto
[submodule "webapp/zenflows-crypto"]
	path = webapp/zenflows-crypto
	url = https://github.com/interfacerproject/zenflows-crypto
