# SPDX-FileCopyrightText: 2024 The Forkbomb Company
#
# SPDX-License-Identifier: AGPL-3.0-or-later

/pb
/tmp
/pb_data/data.*
/pb_data/storage
/pb_data/logs.*
/pb_data/types.d.ts
.DS_Store
.env
pb.env
