# SPDX-FileCopyrightText: 2024 The Forkbomb Company
#
# SPDX-License-Identifier: AGPL-3.0-or-later

PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090/
PB_ADMIN_USER=admin@example.org
PB_ADMIN_PASS=adminadmin

PB_TYPEGEN_URL=http://127.0.0.1:8090
PB_TYPEGEN_EMAIL=admin@example.org
PB_TYPEGEN_PASSWORD=adminadmin

TEST_USER_A_MAIL=userA@example.org
TEST_USER_A_PASS=userAuserA
TEST_USER_B_MAIL=userB@example.org
TEST_USER_B_PASS=userBuserB
TEST_USER_C_MAIL=userC@example.org
TEST_USER_C_PASS=userCuserC

MAINTENANCE=false

PUBLIC_DIDROOM_MICROSERVICES_BRANCH=main
